@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
    font-family: 'Open Sans', sans-serif;
}
body{
	margin-top: 70px;
}
.long_for_scroll{
	height: 2000px;
	width: 100%;
}
